*.RData
*.Rhistory
DS_Store
.Rproj.user
_archive/
src/*.o
src/*.so
src/*.dll
src/.n*
.Rapp.history
*.swp
CRAN-SUBMISSION
paper-sims/data/
paper-sims/fits/
paper-sims/MVNjustification/output
paper-sims/MVNjustification/*.png
